<h1>List of URLs</h1>

<table>
<% @urls.each do |url| %>
<tr>
	<td><%= url.long_url %></td>
	<td><%= link_to(url.short_id,"http://#{request.host}:#{request.port}/#{url.short_id}") %> </td>
	<td><%= url.clicks.length %></td>
</tr>
<% end %>
</table>